
<br/>
<br/>

<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" [(ngModel)]="nome" id="nome" name="nome" placeholder="Pesquisa por Nome">
  </div>
  <button type="submit" (click)="consultarUser()" class="btn btn-primary mb-2">Buscar</button>
  <button type="button" [routerLink]="['/usuarioAdd']" routerLinkActive="router-link-active"   class="btn btn-success mb-2" style="margin-left: 5px;">Novo Usuario</button>
</form>

<br/>
<br/>

<table class="table" >
  <thead >
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Cpf</th>
      <th scope="col">Delete</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios  | paginate: { itemsPerPage:5, currentPage: p }">  
      <td>{{usuario.id}}</td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.cpf}}</td>
      <td><button (click)="deleteUsuario(usuario.id)" class="btn btn-primary">Deletar</button></td>
      <td><button  class="btn btn-warning" [routerLink]="['/usuarioAdd', usuario.id]" routerLinkActive="router-link-active" >Editar</button></td>
    </tr>
  </tbody>
</table>

<div class="text-center">
<pagination-controls (pageChange)="p = $event"
 previousLabel = "Voltar" nextLabel = "Avançar" responsive="true"></pagination-controls>

</div>
